---
const menuItems = [
  {
    title: "hire me",
    href: "/website/hire-me",
  },
];
---

<header>
  <a href="/website">Icon</a>
  <ul>
    {
      menuItems.map((item) => (
        <li>
          <a title={item.title} href={item.href}>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</header>
